@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


/* Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));


@import "tailwindcss";

@theme {
    
    /* Colors  */
    /* Light */
  --color-mainBg-light: #f2f5fa;
  --color-secondaryBg-light: #ffffff;
  --color-textMain-light: #000000;

  --color-text-light: #111827;
  --color-primary-light: #3b82f6;
  --color-secondary-light: #d1d5db;
  --color-header-light: #ffffff;
  --color-footer-light: #e5e7eb;
  --color-button-light: #3b82f6;

    /* Dark */
  --color-mainBg-dark: #101626;
  --color-secondaryBg-dark: #1d2333;
  --color-textMain-dark: #ffffff;

  --color-text-dark: #f3f4f6;
  --color-primary-dark: #1d4ed8;
  --color-secondary-dark: #374151;
  --color-header-dark: #2d3748;
  --color-footer-dark: #2d3748;
  --color-button-dark: #1d4ed8;

    /* Fonts */
  --font-eczar: 'Eczar', serif;


}

body {

    font-family: var(--font-eczar), sans-serif;

}


.text-LD {
    @apply text-textMain-light dark:text-textMain-dark
}

.bg-LD {
    @apply bg-mainBg-light dark:bg-mainBg-dark
}




